/***
    The new CSS reset - version 1.11.3 (last updated 25.08.2024)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/


* {
  margin: 0;
  padding: 0;
  
}



/* Reset all default styling on select */
select {
  all: unset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background: none;
  border: none;
  padding: 0;
  margin: 0;

  font: inherit;
  color: inherit;
  cursor: pointer;
}

input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;  
}


/* Hide the calendar icon in Chrome and Safari */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity:0;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Remove inner spin buttons (Safari) */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

input:focus,
input:focus-visible {
  outline: none;
  box-shadow: none;
  border: none;
}


input[type='password']::-ms-reveal,
input[type='password']::-ms-clear,
input[type='password']::-webkit-credentials-auto-fill-button {
  display: none !important;
}